%h1#cyber_chat.cyber
	%img{:src => "images/cyberchat4.jpg"}
%form#post
	%textarea.input#input2{:name => "message", :maxlength => "400"}
	%input.cyber_button#send_b{:type => "submit", :onclick => "commands()", :value => "SEND"}
	%input.cyber_button#logout{:type => "button", :onclick => "window.location = '../logout'", :value => "LOGOUT"}
	#message_area
